
        <div class="col-sm-10">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    服务器信息
                </div>
                <table class="table table-bordered table-responsive">
                    <tbody>
                    <tr>
                        <td>当前域名</td>
                        <td>{$Think.server.server_name}</td>
                    </tr>
                    <tr>
                        <td>服务器IP</td>
                        <td>{$Think.server.server_addr}</td>
                    </tr>
                    <tr>
                        <td>客户端IP</td>
                        <td>{$Think.server.remote_addr}</td>
                    </tr>
                    <tr>
                        <td>服务器信息</td>
                        <td>{$Think.server.server_software}</td>
                    </tr>
                    <tr>
                        <td>客户端浏览器信息</td>
                        <td>{$Think.server.http_user_agent}</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

